.btn { 
  /* Colores y fondo */
  background: linear-gradient(to bottom, #bcbdb9 5%, #cc6060 100%);
  background-color: #a9d9ec;
  color: #383434;
  text-shadow: 0px 1px 0px #035e7a;
  border: 5px solid #6a718b;

  /* Bordes y forma */
  border-radius: 5rem;

  /* Tipografía */
  font-family: Arial;
  font-size: 0.8rem;
  letter-spacing: 0.075em;
  line-height: 1em;
  text-decoration: none;

  /* Tamaño y espaciado */
  padding: 0.6rem 2rem 0.8rem 2rem;
  display: inline-block;
  overflow: hidden;

  /* Comportamiento */
  cursor: pointer;
  z-index: 1;
  transition: all 0.4s ease;

  /* Sombras */
  box-shadow: 3px 4px 0px 0px #57acac;
}


.contenedor-miniBoton {
  display: flex;
  position: fixed;
  bottom: 20px; /* o 0 si querés que esté bien al borde */
  left: 54%;
  transform: translateX(-50%);
  z-index: 9999; /* muy alto para asegurar que quede arriba */ 
  padding: 10px 20px;
  border-radius: 10px;
}


/* Magnetic Field Button */
.magnetic {
/*   background: #adced8; */
  border: none;
  overflow: visible;
}

.particles-field {
  position: absolute;
  inset: -100%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.particle {
  position: absolute;
  width: 4px;
  height: 4px;
  background: #af2121;
  border-radius: 50%;
}

.magnetic:hover .particles-field {
  opacity: 1;
}

@keyframes particleFloat {
  0% { transform: translate(var(--x), var(--y)) scale(0); }
  50% { transform: translate(calc(var(--x) * -1), calc(var(--y) * -1)) scale(1); }
  100% { transform: translate(var(--x), var(--y)) scale(0); }
}


/* 1. Pulse Animation */
.btn-pulse:hover {
  background-color: #3498db;
  color: rgb(12, 8, 8);
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
 .btn-pulse {
  transform: scale(0.95); /* efecto al presionar */
  background-color: #2980b9;
} 


/* 2. Wobble Animation */

/* .btn-wobble {
 background-color: #e74c3c; 
  color: white;
}
 */

.btn-pulse:active {
  animation: wobble 0.2s;
   transform: scale(0.95); /* efecto al presionar */
  background-color: #444;
}

@keyframes wobble {
  0%,
  100% {
    transform: translateX(0%);
  }
  15% {
    transform: translateX(-25%) rotate(-5deg);
  }
  30% {
    transform: translateX(20%) rotate(3deg);
  }
  45% {
    transform: translateX(-15%) rotate(-3deg);
  }
  60% {
    transform: translateX(10%) rotate(2deg);
  }
  75% {
    transform: translateX(-5%) rotate(-1deg);
  }
}